.foodBox
{
   padding: 10px 5px;
}
.foodBox img
{
    width: 100%;
    height: 250px;
    object-fit:contain;
    border-radius: 10px;
}
.foodBox h1
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.buybtn
{
    color:#fff;
    background-color:green;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}